<div class="text-center">
  <h1>Finanzplaner</h1>
</div>
<% if Current.user %>
  <div class="row mt-5">
    <div class="col border border-secondary-subtle rounded me-3 px-1 py-3 d-flex flex-column">
      <h5 class="text-center fw-bold mb-4">Einkommen</h5>
      <% Current.user.employment_contracts.each_with_index do |c,i| %>
        <div class="mt-1 p-2 rounded border border-white-subtle" style="<%= i.even? ? "background-color: #f2eee9" : "background-color: #fdfdfd" %>">
          <u><%= c.organisation %></u>
          <div class="mt-1">
            Jahresbruttogehalt: <%= number_to_currency(c.yearly_brutto_salary, locale: :de) %>
            <br>
            Jahresnettogehalt: <%= number_to_currency(c.yearly_netto_salary, locale: :de) %>
            <br>
            Monatsbruttogehalt: <%= number_to_currency(c.monthly_brutto_salary, locale: :de) %>
            <br>
            Monatsnettogehalt: <%= number_to_currency(c.monthly_netto_salary, locale: :de) %>
          </div>
        </div>
      <% end %>
      <br>
      <div class="ps-3 rounded mt-auto">
        <b>Netto insgesamt: <%= number_to_currency(Current.user.netto_salary_sum, locale: :de) %></b>
      </div>
    </div>
  <% if Current.user.fixed_cost %>
    <div class="col border border-secondary-subtle rounded ms-3 px-1 py-3 d-flex flex-column">
      <h5 class="text-center fw-bold mb-4">Fixkosten</h5>
      <% Current.user.fixed_cost.as_frontend_json.each_with_index do |(key, value), i| %>
        <% if value %>
          <div class="p-2 rounded border border-white-subtle mt-1" style="<%= i.even? ? "background-color: #f2eee9" : "background-color: #fdfdfd" %>">
            <%= key %>: <%= number_to_currency(value, locale: :de) %>
          </div>
        <% end %>
      <% end %>
      <br>
      <div class="ps-3 rounded mt-3">
        <b>Ausgaben insgesamt: <%= number_to_currency(Current.user.fixed_cost.sum, locale: :de) %></b>
      </div>
    </div>
  <% end %>
  </div>
  <div class="row mt-5">
    <div class="col border border-secondary-subtle rounded p-3">
      <h5 class="text-center fw-bold mb-4">Budget</h5>
        Pro Monat: <%= number_to_currency(Current.user.budget, locale: :de) %>
    </div>
  </div>
<% else %>
  <div class="text-center">
    <%= image_tag "home_money_image.jpg" ,class: "img-fluid mt-5 border border-5 border-success-subtle", style: "max-height: 70vh; border-radius: 50%" %>
  </div>
<% end %>
