<div class="mx-5 mb-5">
  <h1 class="mb-5">Übersicht der Einkommensverhältnisse</h1>
  <div class="accordion" id="accordionExample">
    <% @employment_contracts.each_with_index do |contract,i| %>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="false" aria-controls="collapseOne">
            <%= contract.organisation %>
          </button>
        </h2>
        <div id="collapse<%= i %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong><%= contract.organisation %> </strong>
            <div class="mt-1 ms-1">
              Jahresbruttogehalt: <%= number_to_currency(contract.yearly_brutto_salary, locale: :de) %>
              <br>
              Jahresnettogehalt: <%= number_to_currency(contract.yearly_netto_salary, locale: :de) %>
              <br>
              Monatsbruttogehalt: <%= number_to_currency(contract.monthly_brutto_salary, locale: :de) %>
              <br>
              Monatsnettogehalt: <%= number_to_currency(contract.monthly_netto_salary, locale: :de) %>
              <br>
              Urlaub: <%= contract.vacation %>
              <br>
              Wochenstunden: <%= contract.working_hours %>
              <br>
              aktiv: <%= contract.active %>
            </div>
            <%= link_to "Bearbeiten", edit_employment_contract_path(contract), class: "btn btn-secondary mt-4" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Neues Einkommensverhältniss anlegen", new_employment_contract_path, class: "btn btn-success mt-4" %>
</div>
