<div class="mx-5 mb-5">
  <h1>Einkommensverhältniss erstellen</h1>

  <%= form_with model: @employment_contract do |form| %>
    <div class="mb-3">
      <%= form.label :organisation %>
      <%= form.text_field :organisation, class: "form-control" %>
    </div>
    <div class="mb-1">
      Abrechnungszeitraum:
        <%= form.radio_button :salary_interval, "yearly", class: "ms-2" %>
        <%= form.label :salary_interval_yearly, "Jahr" %>
        <%= form.radio_button :salary_interval, "monthly", checked: true  %>
        <%= form.label :salary_interval_monthly, "Monat" %>
        <%= form.radio_button :salary_interval, "hourly" %>
        <%= form.label :salary_interval_hourly, "Stunde" %>
    </div>
    <div class="mb-3">
      <%= form.label :brutto, "Brutto" %>
      <%= form.text_field :brutto, class: "form-control"  %>
    </div>
    <div class="mb-3">
      <%= form.label :netto, "Netto" %>
      <%= form.text_field :netto, class: "form-control"  %>
    </div>
    <div class="mb-3">
      <%= form.label :urlaubstage %>
      <%= form.text_field :vacation, class: "form-control"  %>
    </div>
    <div class="mb-3">
      <%= form.label :wochenstunden %>
      <%= form.text_field :working_hours, class: "form-control"  %>
    </div>
    <div class="mb-3">
      <%= form.label :von %>
      <%= form.date_field :from, class: "form-control"  %>
    </div>
    <div class="mb-3">
      <%= form.label :bis %>
      <%= form.date_field :to, class: "form-control"  %>
    </div>
    <div class="mb-3">
      <%= form.check_box "active" %>
      <%= form.label :active, "aktiv" %>
      <i class="ms-1 bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="
        Ist der Vertrag aktuell, also aktiv, oder alt? (wichtig für Statistiken)
      "></i>
    </div>

    <div class="mb-3">
      <%= form.submit "Speichern", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
