<!DOCTYPE html>
<html>
  <head>
    <title>Financial Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %1> %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application.scss" %>
    <%= vite_javascript_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="bg-primary">
    <%= render partial: "shared/navbar" %>
    <%= render partial: "shared/sidebar" %>

    <div class="content">
      <turbo-frame id="flash">
        <%= render partial: "shared/flash" %>
      </turbo-frame>
      <%= yield %>
    </div>
  </body>
</html>
<style>
  .content {
    padding: 0px 30px 30px 234px;
  }
</style>
